{% extends 'base.html' %}

{% block content %}
{% load static %}

	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url({% static 'images/analytics2.jpg' %});">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>About Project</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2> Project Goal </h2>
					<p>We are aiming to predict employee attrition as our first goal. For our secondary objectives we
						can try to segment the employees for certain Education levels or regarding their demographical
						data.
						<br><br>
						In addition, our final goal is to develop a model over the data set and to provide this model to
						user with an interface. Users will be able to input the data they want to predict through the
						user interface and will be able to access the model outputs along with the prediction result.
						After each new data prediction, new incoming data adding to the learning data and model update.
						<br><br>
						We will give chance to user to compare with a few algorithm on interface.
						Finally, our goal is to develop a dynamic, self-updating and living project.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="gtco-features-2">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2> Dataset </h2>
				</div>
			</div>
			<div class="row text-center">
				<p>
					[<a>https://www.kaggle.com/pavansubhasht/ibm-hr-analytics-attrition-dataset#WA_Fn-UseC_-HR-Employee-Attrition.csv</a>
					<br><br>
					This is a synthetic dataset created by the IBM Data Scientists with a main purpose of
					demonstrating the analytics tool for employee attrition. So, it's useful for testing our own
					models that require employee data but could be useless for drawing any real-world conclusions.]*
				</p>
				<p style="font-size:11px;">*: This information from https://www.kaggle.com/pavansubhasht/ibm-hr-analytics-attrition-dataset#WA_Fn-UseC_-HR-Employee-Attrition.csv</p>
			</div>
		</div>
	</div>

	<div class="gtco-cover gtco-cover-sm" style="background-image:url({% static 'images/img_bg_2.jpg' %});">
		<div class="overlay">
			<div class="gtco-container">
				<div class="row"><br>
					<p></p>
				</div>
				<div class="row"><br>
					<p></p>
				</div>
				<div class="row"><br>
					<p></p>
				</div>

				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2 style="color:OrangeRed;"> Methodology </h2>
					</div>
				</div>

				<div class="row text-center" style="color:white;">
					<p>
						For employee attrition and classification, we will use Logistic Regression, Random Forest and
						KNN algorithms on data analysis phase and we will give chance to user to compare of these
						algorithms on interface.
						<br><br>
						For Income forecasting we will use, Polynomial or Linear Regression methods depending on the
						model results.
					</p>
				</div>
			</div>
		</div>

	</div>

<div id="gtco-features-2">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
				<h2> Project Infrastructure </h2>
			</div>
		</div>
		<div class="row">
			<p>We will use Python for model development and front-end services. We will develop with Django framework
				for the front side. We will keep the data on SQLite. Technology stack:</p>
			<div class="col-md-5">
				<ul style="list-style-type:circle;">
					<li>Python</li>
					<li>Django</li>
					<li>SQLite</li>
					<li>Google Cloud Compute Engine</li>
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

