{% extends 'base.html' %}

{% block content %}

{% load static %}
{% load nvd3_tags %}
{% include_chart_jscss %}
   <style>
        .axis text {
    font: 10px sans-serif;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

td, th, tr {
    padding: 4px;
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

#dataView{
  margin-top:50px;
}
    </style>

	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner"
	        style="background-image:url({% static 'images/analytics2.jpg' %});">
	    <div class="overlay"></div>
	    <div class="gtco-container">
	        <div class="row">
	            <div class="col-md-8 col-md-offset-2 text-center">
	                <div class="display-t">
	                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
	                        <h1>Model Detail</h1>

	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</header>

	<!-- <div id="gtco-features">
	    <div class="gtco-container">
	        <div class="row">
	            {% load_chart charttype chartdata "piechart_container" extra %}
	            {% include_container chartcontainer 400 600 %}
	        </div>
	    </div>
	</div>-->>

	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="form" class="post-form">
					<form method="post"> {% csrf_token %}
						<div class="row form-group">
							<label for="algorithm">Select Model:</label>
							<select id="algorithm" name="algorithm" class="dropdown">
								<option value="adaboost">Adaboost</option>
								<option value="dt">Decision Tree</option>
								<option value="knn">KNN</option>
								<option value="lda">Linear Discriminant Anaylsis</option>
								<option value="lgr">Lojistic Regression</option>
								<option value="nb">Naive Bayes</option>
								<option value="ann">ANN</option>
								<option value="rf">Random Forest</option>
								<option value="svm">SVM</option>
							</select>
						</div>

						{% if data.is_analysed is not True %}
							<div class="form-group">
								<input type="submit" value="Get Model Detail" class="btn btn-primary">
							</div>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>

	{% if data.is_analysed is True %}
		<div id="gtco-features-2">
			<div class="gtco-container">
				<div class="row">
					<div class="gtco-header">
						<h1 style="color:OrangeRed;"> <u> {{data.algorithm}} Details </u> </h1>
					</div>
				</div>
				<div class="row">
					<label for="dataView"><h3>Confusion Matrix</h3></label>
					<div id="dataView"></div>
    				<div style="display:inline-block; float:left" id="confcontainer"></div>
    				<div style="display:inline-block; float:left" id="legend"></div>
				</div>
			</div>
		</div>
	{% endif %}

	<script>

		var confusionMatrix = {{data.conf_mat|safe}};

        var tp = confusionMatrix[0][0];
        var fn = confusionMatrix[0][1];
        var fp = confusionMatrix[1][0];
        var tn = confusionMatrix[1][1];

        var p = tp + fn;
        var n = fp + tn;

        var accuracy = (tp+tn)/(p+n);
        var f1 = 2*tp/(2*tp+fp+fn);
        var precision = tp/(tp+fp);
        var recall = tp/(tp+fn);

        accuracy = Math.round(accuracy * 100) / 100
        f1 = Math.round(f1 * 100) / 100
        precision = Math.round(precision * 100) / 100
        recall = Math.round(recall * 100) / 100

        var computedData = [];
        computedData.push({"F1":f1, "PRECISION":precision,"RECALL":recall,"ACCURACY":accuracy});

        var labels = ['Is_Attrition', 'Not_Attrition'];
		Matrix({
			container : '#confcontainer',
			data      : confusionMatrix,
			labels    : labels,
            start_color : '#ffffff',
            end_color : '#e67e22'
		});

		// rendering the table
         var table = tabulate(computedData, ["F1", "PRECISION","RECALL","ACCURACY"]);

	</script>

{% endblock content %}