{% extends 'base.html' %}

{% block content %}
{% load static %}

	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url({% static 'images/analytics2.jpg' %});">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Model Compare</h1>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>



{% endblock content %}