{% extends 'base.html' %}

{% block content %}
{% load static %}

	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image:url({% static 'images/analytics2.jpg' %});">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Predict Data</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

    <div id="gtco-features">
        <div class="gtco-container">
            <div class="row">

                <div class="form" class="post-form">
                    <h3>Fill Fields</h3>
                    <form method="post"> {% csrf_token %}
                        <div class="row form-group">
                            <label for="algorithm">Select Model:</label>
                            <select id="algorithm" name="algorithm" class="dropdown">
                                <option value="adaboost"> Adaboost</option>
                                <option value="dt">Decision Tree</option>
                                <option value="knn">KNN</option>
                                <option value="lda">Linear Discriminant Analysis</option>
                                <option value="lgr">Logistic Regression</option>
                                <option value="nb">Naive Bayes</option>
                                <option value="ann">ANN</option>
                                <option value="rf">Random Forest</option>
                                <option value="svm">SVM</option>
                            </select>
                        </div>

                        <div class="row form-group">
                            <div class="row col-md-7 col-sm-7">
                                <label class="col-md-5 col-sm-5" for="BusinessTravel">Business Travel</label>
                                <select id="BusinessTravel" name="BusinessTravel" class="dropdown col-sm-offset-1">
                                    <option value="Travel_Rarely"> Travel Rarely</option>
                                    <option value="Travel_Frequently">Travel Frequently</option>
                                    <option value="Non-Travel">Non Travel</option>
                                </select>
                            </div>
                            <div class="row col-sm-offset-7">
                                <label class="col-md-5 col-sm-5" for="Department">Department</label>
                                <select id="Department" name="Department" class="dropdown col-sm-offset-1">
                                    <option value="Sales"> Sales</option>
                                    <option value="Research & Development">Research & Development</option>
                                    <option value="Human Resources">Human Resources</option>
                                </select>
                            </div>
                            <div class="row col-md-7 col-sm-7">
                                <label class="col-md-5 col-sm-5" for="Age">Age</label>
                                <input class="col-sm-offset-1" type="text" id="Age" name="Age"
                                       placeholder="Please Insert Value" value="{{ data.Age }}" required>
                            </div>
                            <div class="row col-sm-offset-7">
                                <label class="col-md-5 col-sm-5" for="DailyRate">Daily Rate</label>
                                <input class="col-sm-offset-1" type="text" id="DailyRate" name="DailyRate"
                                       placeholder="Please Insert Value" value="{{ data.DailyRate }}" required>
                            </div>
                            <div class="row col-md-7 col-sm-7">
                                <label class="col-md-5 col-sm-5" for="DistanceFromHome">Distance From Home</label>
                                <input class="col-sm-offset-1" type="text" id="DistanceFromHome" name="DistanceFromHome"
                                       placeholder="Please Insert Value" value="{{ data.DistanceFromHome }}" required>
                            </div>
                            <div class="row col-sm-offset-7">
                                <label class="col-md-5 col-sm-5" for="EducationField">Education Field</label>
                                <select id="EducationField" name="EducationField" class="dropdown col-sm-offset-1">
                                    <option value="Human Resources"> Human Resources</option>
                                    <option value="Life Sciences">Life Sciences</option>
                                    <option value="Marketing">Marketing</option>
                                    <option value="Medical">Medical</option>
                                    <option value="Technical Degree">Technical Degree</option>
                                    <option value="Other">Other</option>
                                    <option value="ann">ANN</option>
                                    <option value="rf">Random Forest</option>
                                    <option value="svm">SVM</option>
                                </select>
                            </div>
                            <div class="row col-md-7 col-sm-7">
                                <label class="col-md-5 col-sm-5" for="EnvironmentSatisfaction">Environment
                                    Satisfaction</label>
                                <select id="EnvironmentSatisfaction" name="EnvironmentSatisfaction"
                                        class="dropdown col-sm-offset-1">
                                    <option value="1"> Low</option>
                                    <option value="2">Medium</option>
                                    <option value="3">High</option>
                                    <option value="4">Very High</option>
                                </select>
                            </div>
                            <div class="row col-sm-offset-7">
                                <label class="col-md-5 col-sm-5" for="HourlyRate">Hourly Rate</label>
                                <input class="col-sm-offset-1" type="text" id="HourlyRate" name="HourlyRate"
                                       placeholder="Please Insert Value" value="{{ data.HourlyRate }}" required>
                            </div>
                            <div class="row col-md-7 col-sm-7">
                                <label class="col-md-5 col-sm-5" for="JobInvolvement">Job Involvement</label>
                                <select id="JobInvolvement" name="JobInvolvement" class="dropdown col-sm-offset-1">
                                    <option value="1"> Low</option>
                                    <option value="2">Medium</option>
                                    <option value="3">High</option>
                                    <option value="4">Very High</option>
                                </select>
                            </div>
                            <div class="row col-sm-offset-7">
                                <label class="col-md-5 col-sm-5" for="JobLevel">Job Level</label>
                                <input class="col-sm-offset-1" type="text" id="JobLevel" name="JobLevel"
                                       placeholder="Please Insert Value" value="{{ data.JobLevel }}" required>
                            </div>
                            <div class="row col-md-7 col-sm-7">
                                <label class="col-md-5 col-sm-5" for="Education">Education</label>
                                <select id="Education" name="Education" class="dropdown col-sm-offset-1">
                                    <option value="1"> Below College</option>
                                    <option value="2">College</option>
                                    <option value="3">Bachelor</option>
                                    <option value="4">Master</option>
                                    <option value="5">Doctor</option>
                                </select>
                            </div>
                            <div class="row col-sm-offset-7">
                                <label class="col-md-5 col-sm-5" for="Gender">Gender</label>
                                <select id="Gender" name="Gender" class="dropdown col-sm-offset-1">
                                    <option value="Male"> Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="row col-md-7 col-sm-7">
                                <label class="col-md-5 col-sm-5" for="MaritalStatus">Marital Status</label>
                                <select id="MaritalStatus" name="MaritalStatus" class="dropdown col-sm-offset-1">
                                    <option value="Single"> Single</option>
                                    <option value="Married">Married</option>
                                    <option value="Divorced">Divorced</option>
                                </select>
                            </div>
                            <div class="row col-sm-offset-7">
                                <label class="col-md-5 col-sm-5" for="PerformanceRating">Performance Rating</label>
                                <select id="PerformanceRating" name="PerformanceRating"
                                        class="dropdown col-sm-offset-1">
                                    <option value="1"> Low</option>
                                    <option value="2">Good</option>
                                    <option value="3">Excellent</option>
                                    <option value="4">Outstanding</option>
                                </select>
                            </div>
                            <div class="row col-md-7 col-sm-7">
                                <label class="col-md-5 col-sm-5" for="JobRole">Job Role</label>
                                <select id="JobRole" name="JobRole" class="dropdown col-sm-offset-1">
                                    <option value="Healthcare Representative"> Healthcare Representative</option>
                                    <option value="Human Resources">Human Resources</option>
                                    <option value="Laboratory Technician">Laboratory Technician</option>
                                    <option value="Manager">Manager</option>
                                    <option value="Manufacturing Director">Manufacturing Director</option>
                                    <option value="Research Director">Research Director</option>
                                    <option value="Research Scientist">Research Scientist</option>
                                    <option value="Sales Executive">Sales Executive</option>
                                    <option value="Sales Representative">Sales Representative</option>
                                </select>
                            </div>
                            <div class="row col-sm-offset-7">
                                <label class="col-md-5 col-sm-5" for="JobSatisfaction">Job Satisfaction</label>
                                <select id="JobSatisfaction" name="JobSatisfaction" class="dropdown col-sm-offset-1">
                                    <option value="1"> Low</option>
                                    <option value="2">Medium</option>
                                    <option value="3">High</option>
                                    <option value="4">Very High</option>
                                </select>
                            </div>
                            <div class="row col-md-7 col-sm-7">
                                <label class="col-md-5 col-sm-5" for="MonthlyIncome">Monthly Income</label>
                                <input class="col-sm-offset-1" type="text" id="MonthlyIncome" name="MonthlyIncome"
                                       placeholder="Please Insert Value" value="{{ data.MonthlyIncome }}" required>
                            </div>
                            <div class="row col-sm-offset-7">
                                <label class="col-md-5 col-sm-5" for="MonthlyRate">Monthly Rate</label>
                                <input class="col-sm-offset-1" type="text" id="MonthlyRate" name="MonthlyRate"
                                       placeholder="Please Insert Value" value="{{ data.MonthlyRate }}" required>
                            </div>
                            <div class="row col-md-7 col-sm-7">
                                <label class="col-md-5 col-sm-5" for="NumCompaniesWorked">Num Companies Worked</label>
                                <input class="col-sm-offset-1" type="text" id="NumCompaniesWorked"
                                       name="NumCompaniesWorked" placeholder="Please Insert Value"
                                       value="{{ data.NumCompaniesWorked }}" required>
                            </div>
                            <div class="row col-sm-offset-7">
                                <label class="col-md-5 col-sm-5" for="OverTime">Over Time</label>
                                <select id="OverTime" name="OverTime" class="dropdown col-sm-offset-1">
                                    <option value="Yes"> Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="row col-md-7 col-sm-7">
                                <label class="col-md-5 col-sm-5" for="PercentSalaryHike">Percent Salary Hike</label>
                                <input class="col-sm-offset-1" type="text" id="PercentSalaryHike"
                                       name="PercentSalaryHike" placeholder="Please Insert Value"
                                       value="{{ data.PercentSalaryHike }}" required>
                            </div>
                            <div class="row col-sm-offset-7">
                                <label class="col-md-5 col-sm-5" for="RelationshipSatisfaction">Relationship
                                    Satisfaction</label>
                                <select id="RelationshipSatisfaction" name="RelationshipSatisfaction"
                                        class="dropdown col-sm-offset-1">
                                    <option value="1"> Low</option>
                                    <option value="2">Medium</option>
                                    <option value="3">High</option>
                                    <option value="4">Very High</option>
                                </select>
                            </div>
                            <div class="row col-md-7 col-sm-7">
                                <label class="col-md-5 col-sm-5" for="StockOptionLevel">Stock Option Level</label>
                                <input class="col-sm-offset-1" type="text" id="StockOptionLevel" name="StockOptionLevel"
                                       placeholder="Please Insert Value" value="{{ data.StockOptionLevel }}" required>
                            </div>
                            <div class="row col-sm-offset-7">
                                <label class="col-md-5 col-sm-5" for="TotalWorkingYears">Total Working Years</label>
                                <input class="col-sm-offset-1" type="text" id="TotalWorkingYears"
                                       name="TotalWorkingYears" placeholder="Please Insert Value"
                                       value="{{ data.TotalWorkingYears }}" required>
                            </div>
                            <div class="row col-md-7 col-sm-7">
                                <label class="col-md-5 col-sm-5" for="TrainingTimesLastYear">Training Times Last
                                    Year</label>
                                <input class="col-sm-offset-1" type="text" id="TrainingTimesLastYear"
                                       name="TrainingTimesLastYear" placeholder="Please Insert Value"
                                       value="{{ data.TrainingTimesLastYear }}" required>
                            </div>
                            <div class="row col-sm-offset-7">
                                <label class="col-md-5 col-sm-5" for="WorkLifeBalance">Work Life Balance</label>
                                <select id="WorkLifeBalance" name="WorkLifeBalance" class="dropdown col-sm-offset-1">
                                    <option value="1"> Bad</option>
                                    <option value="2">Good</option>
                                    <option value="3">Better</option>
                                    <option value="4">Best</option>
                                </select>
                            </div>
                            <div class="row col-md-7 col-sm-7">
                                <label class="col-md-5 col-sm-5" for="YearsAtCompany">Years At Company</label>
                                <input class="col-sm-offset-1" type="text" id="YearsAtCompany" name="YearsAtCompany"
                                       placeholder="Please Insert Value" value="{{ data.YearsAtCompany }}" required>
                            </div>
                            <div class="row col-sm-offset-7">
                                <label class="col-md-5 col-sm-5" for="YearsInCurrentRole">Years In Current Role</label>
                                <input class="col-sm-offset-1" type="text" id="YearsInCurrentRole"
                                       name="YearsInCurrentRole" placeholder="Please Insert Value"
                                       value="{{ data.YearsInCurrentRole }}" required>
                            </div>
                            <div class="row col-md-7 col-sm-7">
                                <label class="col-md-5 col-sm-5" for="YearsSinceLastPromotion">Years Since Last
                                    Promotion</label>
                                <input class="col-sm-offset-1" type="text" id="YearsSinceLastPromotion"
                                       name="YearsSinceLastPromotion" placeholder="Please Insert Value"
                                       value="{{ data.YearsSinceLastPromotion }}" required>
                            </div>
                            <div class="row col-sm-offset-7">
                                <label class="col-md-5 col-sm-5" for="YearsWithCurrManager">Years With Curr
                                    Manager</label>
                                <input class="col-sm-offset-1" type="text" id="YearsWithCurrManager"
                                       name="YearsWithCurrManager" placeholder="Please Insert Value"
                                       value="{{ data.YearsWithCurrManager }}" required>
                            </div>
                            <div class="row col-md-7 col-sm-7">
                                <label class="col-md-5 col-sm-5" for="StandardHours">Standard Hours</label>
                                <input class="col-sm-offset-1" type="text" id="StandardHours"
                                       name="StandardHours" placeholder="Please Insert Value"
                                       value="{{ data.StandardHours }}" required>
                            </div>


                        </div>

                        <div class="form-group">
                            <input type="submit" value="Predict Data" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>

            {% if data.is_analysed is True %}
                <div class="row" style="margin-top: 40px;">
                    <h1 style="color:OrangeRed;">{{ data.is_attrition }}</h1>
                </div>
            {% endif %}
        </div>
    </div>

    <script>
        $( document ).ready(function() {
            $("#algorithm").val("{{data.short_algorithm|safe}}");
            $("#EnvironmentSatisfaction").val("{{data.EnvironmentSatisfaction|safe}}");
            $("#JobInvolvement").val("{{data.JobInvolvement|safe}}");
            $("#Education").val("{{data.Education|safe}}");
            $("#PerformanceRating").val("{{data.PerformanceRating|safe}}");
            $("#JobSatisfaction").val("{{data.JobSatisfaction|safe}}");
            $("#RelationshipSatisfaction").val("{{data.RelationshipSatisfaction|safe}}");
            $("#JobRole").val("{{data.JobRole|safe}}");
            $("#MaritalStatus").val("{{data.MaritalStatus|safe}}");
            $("#Gender").val("{{data.Gender|safe}}");
            $("#EducationField").val("{{data.EducationField|safe}}");
            $("#Department").val("{{data.Department|safe}}");
            $("#BusinessTravel").val("{{data.BusinessTravel|safe}}");
            $("#WorkLifeBalance").val("{{data.WorkLifeBalance|safe}}");

        });
    </script>

{% endblock content %}